body{
    background: #fff;
    font-family: "Jost", sans-serif;
    
}

/* Default inactive dot */
.custom-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c4a8a3;  /* light brown/gray (adjust to match Figma) */
  transition: all 0.3s ease;
}

/* Active dot */
.slick-dots li.slick-active .custom-dot {
  width: 14px;
  height: 14px;
  background-color: transparent;  /* hollow */
  border: 2px solid #000;         /* black outline */
}
