@import "tailwindcss";




@theme {
  
  /* Witdh Start  */
  --spacing-mContainer: 1208px;
  /* Witdh End  */

  /* font Start  */
  --font-pop: "Poppins", "sans-serif";
  --font-Playwrite: "Playwrite IT Moderna", "sans-serif";
  /* font End  */

  /* color Start  */
  --color-mcolor: #5e3bee;
  --color-mhover: #f6b058;
  --color-h1: #333333;
  --color-sectionColor: #f9f9fc;
  --color-p: #121212;
  /* color End  */

  /* letter spacing  */
  --tracking-letterS: 2px;
  --tracking-letterSm: 1px;
  /* letter spacing  */

    --drop-shadow-drop: 37px 37px 80px 0px rgba(0, 0, 0, 0.1); 
}