.input-container {
  width: 1320px;
  margin: 0 auto;

}

#postArea {
  padding: 10px 0;
  
}
#postType {
  display: block;
  width: 200px;
  height: 60px;
  margin-bottom: 30px;

  

}
#postAddBtn {
  display: block;
  outline: 0;
  border: none;
  padding: 15px 30px;
  background: rgb(78, 162, 165);
  color: white;
  cursor: pointer;
  border-radius: 10px; 
}
