@import "tailwindcss";



@theme {
    /* color part  */
  --color-monir: #A3863E;

  /* =================== */

  /* padding part  */
  --spacing-btnP: 15px; 

  /* =============== */

  /* font  */
    --font-monir:  "Londrina Outline", sans-serif;


}


